body{
    background-color: #000000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: violet; */
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem{
    display: none;
    height: 100vh;/* Fazer a imagem utilizar todo o espaço em tela. "View port height"*/
}

main .personagem.selecionado {
    display: block;/*Travar imagem*/
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;/*Cobrir o elemento mantendo as dimenssões*/
}

.conteudo {
    /* background-color: orange; */
    position: absolute;/*Destaca o elemento; fica por cima dos outros elementos!*/
    top: 0;/*Para posicional o elemento no topo; posição "x"!*/
    left: 120px;/*Espaçamento em pixels*/

    display: flex;
    flex-direction: column;
    justify-content: center;/*Sem definição de espaço para centralizar*/
    min-height: 100vh;
    max-width: 400px;/*Alterado apra 400. Original 380*/
    z-index: 1;
}

.conteudo .nome-personagem { 
    /* background-color: green; */
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}


.conteudo .descricao {
    /* background-color: blue; */
    color: #ffffff;
    font-family: "Rubik";
    /* font-size: 16px; *//*Já é o tamanho da fonte padrão!*/
    line-height: 24px;/*Altura entre as linhas*/
}

.conteudo .Logo {
    /* background-color: aquamarine; */
    background-image: url("../imagens/one-piece-logo.png");/*Precisa usar ../ para pesquisar as pastas no CSS*/
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: 35px;

}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: orange; */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img{
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
    
}